:root {
  --color1: #f0fdfa;
  --color2: #ccfbf1;
  --color3: #0d9488;
  --color4: #042f2e;
  ---teal50: #f0fdfa;
  --teal100: #ccfbf1;
  --teal200: #99f6e4;
  --teal300: #5eead4;
  --teal400: #2dd4bf;
  --teal500: #14b8a6;
  --teal600: #0d9488;
  --teal700: #0f766e;
  --teal800: #115e59;
  --teal900: #134e4a;
  --teal950: #042f2e;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--teal100);
  color: var(--teal950);
}

header {
  padding: 1rem;
  background-color: var(---teal50);
  color: var(--teal950);
}
.container {
  width: 90%;
  margin-inline: auto;
  text-align: center;
}

main {
  padding-block: 2rem;
  text-align: center;
}
button {
  padding: 0.5rem 1rem;
  border-radius: 15px;
  border: none;
  background-color: var(--teal900);
  color: var(--teal100);
  transition: all 0.1s;
}
button:hover {
  background-color: var(--teal950);
  color: var(--teal300);
  scale: 1.05;
}
main > button {
  margin-bottom: 2rem;
}
.book-list {
  width: 90%;
  margin-inline: auto;
  background-color: var(---teal50);
  border-radius: 1rem;
  padding: 2rem;
}

.book-list__table {
  border-spacing: 0rem 1rem;
  width: 70%;
  margin-inline: auto;
}

th,
td {
  border-block: 2px solid var(--teal950);
  padding: 0.5rem;
  text-align: left;
  margin-bottom: 0.5rem;
  min-width: 7rem;
}

td:nth-child(1) {
  background: var(--teal100);
  border-left: 2px solid var(--teal950);
  border-radius: 15px 0 0 15px;
}
td:nth-child(2) {
  background: var(--teal200);
}
td:nth-child(3) {
  background: var(--teal300);
}
td:nth-child(4) {
  background: var(--teal400);
}
td:nth-child(5) {
  background: var(--teal500);
  border-right: 2px solid var(--teal950);
  border-radius: 0 15px 15px 0;
}

td:has(button) {
  text-align: center;
}
dialog {
  width: 20%;
  min-width: 300px;
  margin-inline: auto;
  padding: 1rem 2rem;
  color: var(--teal950);
  border-radius: 15px;
}
dialog > form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.input-block {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}

.input-block:has(input[type="checkbox"]) {
  justify-content: flex-start;
  gap: 1rem;
}

form input {
  padding: 0.2rem;
}

input[type="checkbox"] {
  accent-color: var(--teal800);
}
